<nav id="navigation" class="navbar rounded">
  <!-- Brand Icon -->
  <div id="containerNav" class="containerBrand">
    <a id="brand" class="navbar-brand" href="/"><i class="fas fa-paw">
        <p style="display: inline-block;">PawsЯus</p>
      </i></a>
  </div>

  <div id="containerNav">
    <!-- LOGGED IN -->
    <% if (currentUser) { %>
    <!--  -->
    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton2"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user-circle"></i> Welcome <%=currentUser.username%>!
      </button>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <form action="/sessions?_method=DELETE" method="POST">
            <button class="dropdown-item"><i class="fas fa-sign-out"> Log out</i></button>
          </form>
        </li>
      </ul>
    </div>
    <!--  -->

    <!-- LOGGED OUT -->
    <% } else { %>

    <a class="btn btn-outline-success" href="/users/new">Sign Up <i class="fas fa-user-plus"></i></a>
    <a class="btn btn-outline-primary" href="/sessions/new">Log In <i class="fas fa-sign-in-alt"></i></a>
    <% } %>
  </div>
</nav>