<ul class="right">
  <% if (currentUser) { %>
  <li>Welcome <%=currentUser.username %></li>
  <form action="/sessions?_method=DELETE" method="POST">
    <input type="submit" value="Log out" class="btn-small red">
  </form>
  <% } else { %>

  <li><a href="/users/new">Sign Up</a> </li>
  <li><a href="/sessions/new">Log In</a> </li>
  <% } %>
</ul>