<nav id="navigation" class="navbar rounded">
  <!-- Brand Icon -->
  <div id="containerNav" class="containerBrand">
    <a id="brand" class="navbar-brand" href="/"><i class="fas fa-paw"> PawsЯus</i></a>
  </div>

  <div id="containerNav">
    <!-- LOGGED IN -->
    <% if (currentUser) { %>
    <div class="btn-group" role="">
      <button id="btnGroupDrop1" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="fas fa-user-circle"></i> <%=currentUser.username%>
      </button>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <form action="/sessions?_method=DELETE" method="POST">
          <button class="dropdown-item">Log out <i class="fas fa-sign-out"></i></button>
        </form>
      </ul>
    </div>



    <!-- LOGGED OUT -->
    <% } else { %>

    <a class="btn btn-outline-success" href="/users/new">Sign Up <i class="fas fa-user-plus"></i></a>
    <a class="btn btn-outline-primary" href="/sessions/new">Log In <i class="fas fa-sign-in-alt"></i></a>
    <% } %>
  </div>
</nav>