body {
    display: flex;
    justify-content: center;
}

#container {
    width: 95%;
}

#navigation {
    display: flex;
    border: 3px blue solid;
    justify-content: space-between;
}

#containerNav {
    margin: 0 10px 0 10px;
}

#firstRow {
    border: 5px blue solid;
}