@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
}


.fa-paw p {
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(#cdc2c0, white, #CDC2C0);
    min-height: 1000px;
}

.activeBox {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 2px 0 5px #000000;
}

.inactiveBox:hover {
    background-color: rgb(218, 218, 218);
}

#container {
    width: 99%;
}

#navigation {
    display: flex;
    justify-content: space-between;
    height: auto;
    border-bottom: #003664 10px solid;
    margin-bottom: 5px;
}

.col-md-8 h5 {
    color: rgb(216, 50, 0);
}

.containerBrand a {
    font-size: 2.5em;
    color: #003664;
}

#containerNav {
    margin: 0 10px 0 10px;
}

#headerBar {
    background-color: #fff;
    /* box-shadow: 5px 0 9px 0 rgba(151, 151, 151, 0.51); */
}

#firstContainer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 9px 0 rgba(151, 151, 151, 0.51);
    min-height: 300px;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 4px 9px 0 rgba(151, 151, 151, 0.51);
}

#pagination a {
    text-decoration: none;
}