<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body>
  <div id="container">
    <%- include ('../partials/nav.ejs') %>
    <div id="firstRow" class="container-lg">
      <div class="row">
        <div class="col-md-6" style="background-color: green;">1 of 2</div>
        <div class="col-md-6" style="background-color: red;">2 of 2</div>
      </div>
    </div>
    <div id="firstRow" class="container-fluid">
      <div class="row">
        <div class="col-md-9" style="background-color:yellow">1 of 3</div>
        <div class="col-md-3" style="background-color:grey">1 of 3</div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>