<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body>
  <div id="container">
    <%- include ('../partials/nav.ejs') %>

  </div>
</body>

</html>