<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<script>
  $(function () {
    $('[data-bs-toggle="tooltip"]').tooltip()
  })
</script>


<body>

  <div id="container">
    <%- include ('../partials/nav.ejs') %>


    <div id="firstContainer" class="container-fluid" style="max-width: 600px; border-radius: 10px;">




      <div class="row" style="display: flex;">
        <!-- LEFT SIDE -->
        <div class="col-sm-6" style=" max-width: 315px; background-color: rgb(39, 45, 128); border-radius: 10px;">
          <img src="/images/signup.jpg" style="max-width: 290px;">
        </div>

        <!-- RIGHT SIDE -->
        <div class="col-sm-6">

          </br>
          <h1>Registration</h1>
          <!-- FORM -->
          <form action="/users" method="POST">
            </br>
            <!-- Username -->
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"><i class="fal fa-user"></i></span>
              <input id="usernameBox" name="username" type="text" class="form-control" placeholder="Username"
                aria-label="Username" aria-describedby="addon-wrapping" autocomplete="off" <%if (user) { %>
                value="<%=user%>" <% } %>>

            </div>
            <!-- User verification -->
            <div class="verify user1" style="color: red; display: none">
              Username must be 4-12 characters
            </div>
            <div class=" verify user2" style="color: red; display: none">
              No capitalization / symbols
            </div>
            <div class="verify user3" style="color: red; display: none">
              At least 1 letter
            </div>
            <div style="margin-top: 5px;">
              <i style="display: none; color: red" class="fas fa-times-octagon invalidUser"> Invalid username</i>
              <i style="display: none; color: green" class="fas fa-check-circle validUser"> Valid username</i>
            </div>
            <!--  -->
            </br>
            <!-- Password -->
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"><i class="fal fa-key"></i></span>
              <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password"
                aria-describedby="addon-wrapping" data-bs-toggle="tooltip" data-bs-placement="right"
                title="Passwords must be at least 4 characters long">
            </div>
            <!-- Confirm Password -->
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"><i class="fal fa-key"></i></span>
              <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password"
                aria-label="Password" aria-describedby="addon-wrapping">
            </div>
            <%if (tooShort) { %>
            <p style="color:crimson">Password must have at least 4 characters!</p>
            <% } %>
            <%if (userExists) { %>
            <p style="color: orange;">Username already exists!</p>
            <% } %>
            <%if (!match) {%>
            <p style="color: red; margin: 0;">Passwords do not match!</p>
            <% }%>
            <% if (invalidUser) { %>
            <p style="color: crimson">Invalid username.</p>
            <% } %>
            <!-- SUBMIT -->
            <input type="submit" class="btn btn-success" value="Sign Up" style="margin-top: 10px;">
            <p style="margin: 0;">Already have an account? <a href="/sessions/new">Sign in.</a></p>
          </form>
        </div>
      </div>
    </div>

  </div>
  <!-- Container end -->

  <!-- Scripts -->
  <script>
    let valid;

    $("#usernameBox").on("keyup", () => {
      let usernameLength = $("#usernameBox").val().length;
      let validTest1 = !(usernameLength >= 4 && usernameLength <= 12) ? "red" : "green";
      $(".user1").css("color", validTest1);
      let str = $("#usernameBox").val();
      let validTest2 = (/^[a-z0-9]+$/.test(str));
      let validTest3 = (/^(?=.*[a-z])/.test(str));
      $(".user2").css("color", (!validTest2 ? "red" : "green"));
      $(".user3").css("color", (!validTest3 ? "red" : "green"));
      if ((usernameLength >= 4 && usernameLength <= 12) && validTest2 && validTest3) {
        valid = true;
      } else {
        valid = false;
      }
    });

    $("#usernameBox").ready(() => {
      let usernameLength = $("#usernameBox").val().length;
      if (usernameLength > 0) {
        let validTest1 = !(usernameLength >= 4 && usernameLength <= 12) ? "red" : "green";
        $(".user1").css("color", validTest1);
        let str = $("#usernameBox").val();
        let validTest2 = (/^[a-z0-9]+$/.test(str));
        let validTest3 = (/^(?=.*[a-z])/.test(str));
        $(".user2").css("color", (!validTest2 ? "red" : "green"));
        $(".user3").css("color", (!validTest3 ? "red" : "green"));
        if ((usernameLength >= 4 && usernameLength <= 12) && validTest2 && validTest3) {
          valid = true;
          $(".validUser").css("display", "flex");
          $(".invalidUser").css("display", "none");
        } else {
          valid = false;
          $(".validUser").css("display", "none");
          $(".invalidUser").css("display", "flex");
        }
      }
    })

    let makeDisplay = () => {
      $(".verify").css("display", "flex");
      $(".validUser").css("display", "none");
      $(".invalidUser").css("display", "none");
    }

    let makeInvis = () => {
      $(".verify").css("display", "none");
      if (valid) {
        $(".validUser").css("display", "flex");
        $(".invalidUser").css("display", "none");
      } else {
        $(".validUser").css("display", "none");
        $(".invalidUser").css("display", "flex");
      }
    }

    $("#usernameBox").focus(makeDisplay);
    $("#usernameBox").blur(makeInvis);
  </script>

</body>



</html>